<h1>Generador de Números Aleatorios</h1>

<h2>Método de Congruencia Lineal</h2>

<p>Lorem ipsumn asdde ashlkas ashkasscnx.orem ipsumn asdde ashlkas ashkasscnx. orem ipsumn asdde ashlkas ashkasscnx.</p>

<a href="/random/gna/generate_form">Ir al generador</a>

